@inherits LayoutComponentBase
<div class="flex flex-col justify-center items-center h-dvh bg-gray-200 relative">
    <div>
        <NavMenu />
    </div>

    <main>
        <article>
            @Body
        </article>
    </main>
</div>
