<nav class="w-dvw bg-white border-b-4 border-rose-300 shadow-xs">
    <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
        <div class="flex justify-between items-center h-16">
            <!-- Left: Logo / Site Name -->
            <div class="flex-shrink-0 flex">
                <img src="icon/nekoteoj_logo.png" alt="pisit.dev logo" class="h-13 drop-shadow-sm drop-shadow-pink-300/50">
            </div>

            <!-- Hamburger menu button (mobile) -->
            <div class="md:hidden flex" @onclick="ToggleNavMenu">
                <button id="menu-toggle" class="p-2 text-accent-5 focus:outline-none rounded-full hover:bg-gray-200 cursor-pointer">
                    <svg class="h-6 w-6" fill="none" stroke="currentColor" stroke-width="2" viewBox="0 0 24 24"
                        xmlns="http://www.w3.org/2000/svg">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M4 6h16M4 12h16M4 18h16" />
                    </svg>
                </button>
            </div>

            <!-- Right: Navigation Links -->
            <div class="hidden md:flex space-x-2 items-center h-full text-gray-800">
                <NavLink class="inline-flex items-center rounded-full hover:bg-gray-200 transition duration-150 py-2 px-4" href="" Match="NavLinkMatch.All" ActiveClass="bg-accent-1 text-accent-5">Home</NavLink>
                <NavLink class="inline-flex items-center rounded-full hover:bg-gray-200 transition duration-150 py-2 px-4" href="/counter" Match="NavLinkMatch.All" ActiveClass="bg-accent-1 text-accent-5">Counter</NavLink>
            </div>
        </div>
    </div>

    <!-- Mobile Menu -->
    <div class="absolute md:hidden @NavMenuCssClass overflow-hidden bg-white shadow-xs w-full transition-all duration-250 ease-in-out">
        <div class="px-4 py-4 space-y-2 border-b-4 border-rose-300 text-gray-800">
            <NavLink class="flex py-2 justify-center rounded-full hover:bg-gray-200" href="" Match="NavLinkMatch.All" ActiveClass="bg-accent-1 text-accent-5"  @onclick="CloseNavMenu">Home</NavLink>
            <NavLink class="flex py-2 justify-center rounded-full hover:bg-gray-200" href="/counter" Match="NavLinkMatch.All" ActiveClass="bg-accent-1 text-accent-5" @onclick="CloseNavMenu">Counter</NavLink>
        </div>
    </div>
</nav>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "max-h-0" : "max-h-screen";

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

    private void CloseNavMenu()
    {
        collapseNavMenu = true;
    }
}
