@page "/"

<PageTitle>Home - Pisit</PageTitle>

<div class="flex flex-col md:flex-row justify-center space-y-4 space-x-4">
    <section
        class="flex flex-col max-w-sm gap-x-4 rounded-xl bg-white p-6 shadow-lg outline-1 outline-black/10 dark:bg-slate-800 dark:shadow-none dark:-outline-offset-1 dark:outline-white/10">
        <img src="img/profile.png" alt="My profile picture" class="rounded-full w-3xs self-center">
        <div class="mt-4">
            <h2 class="text-2xl font-bold">Pisit Wajanasara</h2>
        </div>
        <div>
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                class="feather feather-github">
                <title>GitHub</title>
                <path
                    d="M9 19c-5 1.5-5-2.5-7-3m14 6v-3.87a3.37 3.37 0 0 0-.94-2.61c3.14-.35 6.44-1.54 6.44-7A5.44 5.44 0 0 0 20 4.77 5.07 5.07 0 0 0 19.91 1S18.73.65 16 2.48a13.38 13.38 0 0 0-7 0C6.27.65 5.09 1 5.09 1A5.07 5.07 0 0 0 5 4.77a5.44 5.44 0 0 0-1.5 3.78c0 5.42 3.3 6.61 6.44 7A3.37 3.37 0 0 0 9 18.13V22">
                </path>
            </svg>
        </div>
    </section>
    <section
        class="flex flex-col max-w-sm md:max-w-lg items-center gap-x-4 rounded-xl bg-white p-6 shadow-lg outline-1 outline-black/10 dark:bg-slate-800 dark:shadow-none dark:-outline-offset-1 dark:outline-white/10">
        <h2 class="text-2xl font-bold">Hi! I'm Pisit.</h2>
        <p>I'm Pisit (Joe) Wajanasara. I'm currently a Ph.D. student in Computer Science at UCSD.
            My primary research area includes Bioinformatics, Proteomics, and Mass Spectrometry data analysis.
            I'm also interested in Machine Learning, NLP, and Software Development.
            In my free time, I like to explore new tech stuffs, and to play a guitar.
            I'm also a mechanical keyboard enthusiast.</p>
    </section>
</div>
