@page "/"
@using PisitDev.Components.Logo

<PageTitle>Home - Pisit</PageTitle>

<div class="flex flex-col md:flex-row justify-center items-center md:items-start space-y-4 md:space-x-4 md:space-y-0">
    <section
        class="flex flex-col h-fit w-full md:max-w-xs gap-x-4 rounded-xl bg-white p-6 shadow-md outline-1 outline-black/10 dark:bg-slate-800 dark:shadow-none dark:-outline-offset-1 dark:outline-white/10">
        <img src="img/profile.png" alt="My profile picture" class="rounded-full w-32 md:w-48 self-center">
        <div class="mt-4">
            <h2 class="text-2xl font-bold">Pisit Wajanasara</h2>
            <p class="text-gray-600">CSE PhD Candidate @@ UCSD</p>
        </div>
        <div class="mt-4">
            <button type="button"
                class=" flex items-center justify-center rounded p-1 border border-gray-200 hover:bg-accent-1 hover:text-accent-5 hover:border-accent-5 hover:cursor-pointer">
                <a href="https://github.com/nekoteoj" target="_blank" class="inline-flex flex-row space-x-1">
                    <GitHub />
                    <div>GitHub</div>
                </a>
            </button>
        </div>
    </section>
    <section
        class="flex flex-col w-full h-fit md:max-w-xl gap-x-4 rounded-xl bg-white p-6 shadow-md outline-1 outline-black/10 dark:bg-slate-800 dark:shadow-none dark:-outline-offset-1 dark:outline-white/10">
        <h3 class="font-bold">About Me</h3>
        <hr class="my-4 border-gray-200 w-full">

        <div class="space-y-4">
            <p>Hi! I’m Pisit (Joe) Wajanasara, a Ph.D. candidate in Computer Science at the University of California,
                San
                Diego (UCSD), advised by Prof. Nuno Bandeira.
                My research interests lie in Bioinformatics, Proteomics, Machine Learning, Natural Language Processing,
                and
                Software Development. Currently, my work focuses on developing and analyzing algorithms for Protein Mass
                Spectrometry and Post-Translational Modifications.</p>
            <p>Before starting my Ph.D., I earned my B.E. in Computer Engineering from Chulalongkorn University in
                Thailand,
                where I worked with Prof. Duangdao Wichadakul on drug–protein binding affinity prediction. After
                graduation,
                I
                also joined the MyCourseVille team as a part-time software engineer, helping develop a web platform for
                the
                university’s Student Wellness Department for one year.</p>
            <p>Outside of research, I enjoy playing the guitar in my free time.
                Feel free to check out my <a href="https://www.youtube.com/@@pisitw" target="_blank"
                    class="font-medium text-accent-5 hover:underline">YouTube channel</a></p>
        </div>
    </section>
</div>
